@charset "utf-8";

:root {
    --sub-color: #FFD700;
}



body {
    overflow-x: hidden;
    font-family: 'Clash Display', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #252525;
}

.inner {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 20px;
}

#wrap {
    background: #060606;
}

.btn_more {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    z-index: 0;
    overflow: hidden;
    width: 200px;
    text-align: center;
}

.btn_more:hover {
    color: #3C2A21;
}

.btn_more:hover::after {
    width: 100%;
}

.btn_more::after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #FFFDF5;
}

.btn_more>a {
    display: block;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 2rem;
}

@media(max-width: 1560px){
.btn_more{width: 170px;}
.btn_more>a{font-size: 1.6rem; padding: 10px 20px;}
}

@media(max-width: 960px){
.btn_more{width: 170px;}
.btn_more>a{font-size: 1.6rem; padding: 10px 20px;}
}

@media(max-width: 768px){
.btn_more{width: 120px;}
.btn_more>a{font-size: 1.6rem; padding: 10px 0;}
}

@media(max-width: 500px){
.btn_more{width: 120px;}
.btn_more>a{font-size: 1.4rem; padding: 7px 0;}
}




/* 팝업 */
.dim{position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 7; display: block; display: none;}
.dim .popup{position: absolute; right: -100%; top: 0; width: 50%; height: 100%; background: #fff; display: flex; gap: 30px; padding: 50px; align-items: center;}
.dim .popup .picture img{width: 350px; height: auto;}
.dim .popup .txt{font-size: 2rem;}
.dim .popup .txt span {font-weight: 600;}
.dim .popup .txt p:last-child{font-size: 1.8rem; font-weight: 500; padding-top: 50px;}
.dim .popup .close img{background: none; position: absolute; top: 30px; right: 30px; cursor: pointer;}

@media(max-width: 1695px){
.dim .popup{display: block; text-align: center; padding-top: 120px;}
.dim .popup .picture img{width: 400px; margin-bottom: 30px;}
}




/* header */
#header {
    position: fixed; width: 100%; top: 0; left: 0; z-index: 2;
    background: #fff;
    padding: 20px 0;
}

#header .inner {
    display: flex;
    justify-content: space-between; align-items: center;
}

#header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#header .gnb {
    display: flex;
    order: 1;
    font-size: 2rem;
    font-weight: 500;
}

#header .gnb li {
    padding: 0 12px;
}

#header .con {
    order: 3;
}

#header .con button {
    background: none;
    cursor: pointer;
    font-family: 'Clash Display', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

#header .ham{display: none;}
#header .ham button{background: none; cursor: pointer;}

#header .mgnb_wrap{position: fixed; top: 0; right: 0; width: 100%; height: auto; background: #fff; margin-top: 58px; display: none;}
#header .mgnb_wrap .mgnb{font-size: 3rem; text-align: center; }
#header .mgnb_wrap .mgnb li{width: 100%; border-top: 1px solid #000; padding: 10px 0;}
#header .mgnb_wrap .mgnb li a{display: inline-block; padding: 0 200px; transition: all 0.3s;}
#header .mgnb_wrap .mgnb li a:hover{font-weight: 500;}
#header .mgnb_wrap .mgnb li:first-child{border-top: 2px solid #000;}

#header .m_close{display: none;}
#header .m_close button{background: none; position: absolute; top: 30px; right: 20px; cursor: pointer;}
#header .m_close button img{transform: translateY(-15px);}


@media(max-width: 1230px){
#header {padding: 5px 0;}
#header .gnb{display: none;}
#header .con {display: none;}
#header h1{position: static; transform: translateX(0);}
#header h1 img{width: 80%;}
#header .ham{display: block;}
}

@media(max-width: 768px){
/* #header .mgnb_wrap{height: 29%;} */
#header .mgnb_wrap .mgnb{font-size: 2.3rem;}
}

@media(max-width: 500px){
#header {padding: 0;}
#header .mgnb_wrap{margin-top: 47px;/*  height: 27%; */}
#header .mgnb_wrap .mgnb{font-size: 2rem;}
#header .mgnb_wrap .mgnb li a{padding: 0 50px;}
}

@media(max-width: 400px){
#header .mgnb_wrap{margin-top: 47px;/*  height: 39%; */}
}




/* footer */
#footer{background: #1A120B; padding: 40px 0;}
#footer .top{display: flex; align-items: center; justify-content: space-between; color: #CFCFCF; margin-bottom: 20px;}
#footer .top .impo{font-size: 1.8rem; font-weight: 300;}
#footer .top .impo p{padding-bottom: 10px;}
#footer .top .impo span{color: #fff; font-weight: 400; padding-right: 25px;}
#footer .top .emty{font-size: 0;}

#footer .bottom{border-top: 1px solid rgba(255,255,255,0.2);}
#footer .bottom p{font-size: 1.8rem; color: #CFCFCF; padding-top: 20px;}

.top_btn{position: fixed; right: 50px; bottom: 30px;}
.top_btn img{width: 50px; height: auto;}

@media(max-width: 1150px){
#footer{padding: 30px 0;}
#footer .inner{text-align: center;}
#footer .top{display: block;}
#footer .top .lo{margin-bottom: 30px;}
#footer .top .impo p{padding-bottom: 5px;}
}

@media(max-width: 768px){
#footer .top .impo{font-size: 1.6rem;}
#footer .bottom p{font-size: 1.6rem;}
.top_btn img{width: 40px; height: auto;}
}

@media(max-width: 500px){
#foote{padding: 20px 0;}
.top_btn{position: fixed; right: 20px; bottom: 30px;}
#footer .top .lo img{width: 80px; height: auto;}
#footer .top .impo{font-size: 1.5rem;}
#footer .bottom p{font-size: 1.5rem;}
}